@charset="utf-8";
/* reset.css */
body,p,h2,form {
	margin: 0;
}
body,html {
	height: 100%;
	overflow: hidden;
	position: relative;
}
input {
	outline: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box {
	zoom: 1;
}
.box:after {
	content: "";
	clear: both;
	display: block;
}
/* end reset.css */

body {
	background: #f3f5f5;
}
.otherbody {
	background: #e4e4e4;
}
/* public*/
/*----------------------------------------------index.html----------------------------------------------------*/
/* header */
.box:after {
	content: "";
	clear: both;
	display: block;
}
.wrap {
	height: 100%;
	overflow: auto;
	margin-top: 45px;
}
#header {
	height: 48px;
	border-bottom: 2px solid #1190da;
	background: url(../img/bginheader.png) repeat-x;
	width: 100%;
	position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.top {
	height: 48px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.top .logo {
	display: inline-block;
	width: 144px;
	height: 26px;
	float: left;
	line-height: 80px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 85px;
	background: url(../img/open.png) no-repeat;
}
.house {
	position: absolute;
	top: 18px;
	left: 148px;
	display: none;
}
.logo:hover .house {
	display: inline-block;
}
.nav {
	font-size: 0;
	float: left;
}
.navactive {
	background: #dddddd;
}
.nav .ainnav {
	display: inline-block;;
	font: 16px/48px "微软雅黑";
	color: #333333;
	padding: 0 17px 0 18px;
}
.nav .putdown {
	background: url(../img/putdown.png) no-repeat 69px 24px;
}
.nav .in {
	margin-left: 190px;
}
.spanwei {
	display: inline-block;
	transition: .5s;
	float: left;
	height: 48px;
	width: 84px;
	overflow: hidden;
}
.spanmove {
	display: inline-block;
	width: 84px;
	border-radius:0 0 4px 4px;
	transition: .5s;
	height: 0px;
	position: relative;
	z-index: 2;
}
.spanmove a {
	display: inline-block;
	font: 14px/24px "微软雅黑";
	color: #333333;
	padding: 0 13px 0 15px;
	margin-top: 1;
	opacity: 0;
	transition: 1.2s;
}
.spanmove .spanmovespea {
	margin-top: 7px;
}
.spanmove .speqita {
	padding: 0 25px 0 30px;
}
.spanmove .speyingyong {
	padding: 0 20px 0 22px;
}
.nav .putdown:hover {
	background: url(../img/putdown.png) no-repeat 69px 24px #dddddd;
}
.nav a:hover {
	background: #dddddd;
}
.spanwei .spanmove {
	background: #ebebeb;
	height: 0px;
	overflow: hidden;
}
.spanwei .spanmove2 {
	background: #ebebeb;
	height: 0px;
	overflow: hidden;
}
.spanwei {
	overflow: visible;
}
.spanwei a {
	opacity: 1;
}
.navactive {
	background: #dddddd;
}
/* end header */
/* end  public*/

/* banner */
/*@keyframes move {
	0%{
		left: 0;
	}
	10%{
		left: 0px;
	}
	20% {
		left: -1500px;
	}
	30%{
		left: -1500px;
	}
	40%{
		left: -3000px;
	}
	50%{
		left: -3000px;
	}
	60%{
		left: -4500px;
	}
	70%{
		left: -4500px;
	}
	80%{
		left: -6000px;
	}
	90%{
		left: -6000px;
	}
	100%{
		left: -6000px;
	}
}*/
.banner {
	width: 1366px;
	height: 349px;
	position: relative;
	overflow: hidden;
}
.list {
	width: 500%;
	position: absolute;
	left: 0;
	top: 0;
	-animation: 20s 2s move infinite;
}
.list img {
	width: 1366px;
}
.imginbanner {
	float: left;
	width: 1500px;
	height: 349px;
	margin: 0 auto;
}
/* end banner*/

/* part1*/
.part1 {
	display: inline-block;
	width: 100%;
	height: 200px;
	font-size: 0;
	background: url(../img/bginpart1.png) -270px 0;
}
.picture {
	width: 981px;
	height: 163px;
	margin: 0 auto;
	margin-top: 18px;
}
.border {
	float: left;
	width: 235px;
	height: 164px;
	border: 1px solid #cccccc;
	background: #fff;
	margin-right: 8px;
}
.borderinborder {
	display: inline-block;
	width: 229px;
	height: 158px;
	border: 3px solid #fff;
}
.mobole {
	display: inline-block;
	width: 149px;
	height: 119px;
	margin: 27px 0 0 41px;
	background: url(../img/lotspic.png) -27px -169px;
}
.web {
	display: inline-block;
	width: 125px;
	height: 127px;
	margin: 20px 0 0 50px;
	background: url(../img/lotspic.png) -237px -162px;
}
.business {
	display: inline-block;
	width: 155px;
	height: 113px;
	margin: 33px 0 0 28px;
	background: url(../img/lotspic.png) -413px -175px;
}
.data {
	display: inline-block;
	width: 149px;
	height: 119px;
	margin: 27px 0 0 41px;
	background: url(../img/lotspic.png) -27px -169px;
}
.borderinborder:hover {
	border-color: #add5ed;
}
/* end part1*/

.part2 {
	width: 880px;
	border: 1px solid #e9ebeb;
	background: #fff;
	padding: 49px 49px 0 49px;
	margin: 0 auto;
	margin-top: 15px;
}
/* part2 contnt1*/
.content1 {
	height: 120px;
	background: url(../img/bgincontent1.png) no-repeat 0 bottom;
}
.guangbo {
	float:left;
	width: 34px;
	height: 30px;
	background: url(../img/icons.png) no-repeat;
}
.bordcast {
	float:left;
	height: 30px;
	font: bold 23px/23px "宋体";
	margin: 5px 740px 0 6px;
}
.more a {
	font: 14px/14px "微软雅黑";
	color: #3c7cb3;
}
.content1 a:hover {
	text-decoration: underline;
}
.ul .firstli{
	width: 363px;
	height: 31px;
	font-size: 0;
}
.ul a {
	font: 13px/31px Arial,"微软雅黑";
	color: #333333;
}
.firstli a span {
	font: bold 13px/31px Arial,"微软雅黑";
	display: inline-block;
}
.content1 .date {
	float: right;
	height: 31px;
	font: 14px/31px "宋体";
	color: #999999;
}
.ul {
	float: left;
}
.ul2 {
	margin-right: 90px;
}
/* end part2 contnt1*/

/* part2 contnt2*/
.content2 {
	height: 275px;
	padding-top: 73px;
	position: relative;
	background: url(../img/bgincontent1.png) no-repeat 0 bottom;
}
.sdk {
	font: bold 32px/32px "微软雅黑";
	color: #000;
	margin-bottom: 11px;
}
.sdkmove {
	font: 16px/30px "微软雅黑";
	color: #939393;
}
.nowwatch {
	display: inline-block;
	width: 129px;
	height: 40px;
	margin-top: 12px;
	background: url(../img/icons.png) no-repeat 0 -51px ;
}
.mobilesdk {
	position: absolute;
	left: 486px;
	bottom: 4px;
}
/* end part2 contnt2*/

/* part2 contnt3*/
.content3 {
	height: 292px;
	padding-top: 69px;
	position: relative;
	background: url(../img/bgincontent1.png) no-repeat 0 bottom;
}
.api {
	position: absolute;
	top: 48px;
	left: 132px;
}
.boxincontent3 {
	float: right;
	margin-right: 30px;
}
/* end part2 contnt3*/

/*part2 contnt4*/
.content4 {
	height: 294px;
	padding-top: 78px;
	position: relative;
	background: url(../img/bgincontent1.png) no-repeat 0 bottom;
}
.p4 {
	position: absolute;
	left: 486px;
	bottom: 15px;
}
/* end part2 contnt4*/

/* part2 contnt5*/
.content5 {
	font-size: 0;
}
.people {
	float: left;
	width: 36px;
	height: 30px;
	margin-top: 32px;
	background: url(../img/icons.png) no-repeat -51px 0;
}
.development {
	float: left;
	font: bold 23px/23px "宋体";
	margin-left: 4px;
	margin-top: 36px;
}
.aundercontent5 {
	font-size: 0;
	display: inline-block;
	width: 82px;
	margin-top: 19px;
	margin-right: 60px;
}
.aundercontent5spe {
	margin-left: 50px;
}
.weico {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -10px 0;
} 
.youku {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -90px -1px;
} 
.gaode {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -173px -1px;
} 
.read {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -254px -1px;
} 
.sale {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -336px -1px;
} 
.weizhong {
	display: inline-block;
	height: 80px;
	width: 82px;
	background: url(../img/icon2.png) no-repeat -417px 0;
} 
.underweico {
	display: inline-block;
	width: 82px;
	font:bold 14px/40px "微软雅黑";
	text-align: center;
	color: #333339;
}
.underweico:hover {
	text-decoration: underline;
}
.drop-down {
	display: none;
	float: left;
	width: 750px;
	height: 75px;
	padding: 15px 20px 15px 20px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	font: 13px/22px "宋体";
	color: #666666;
	background: #f3f5f5;
	margin-bottom: 48px;
}
.dropdown {
	display: none;
}
.dropdown1 {
	margin-left: -142px;
}
.dropdown2 {
	margin-left: -284px;
}
.dropdown3 {
	margin-left: -426px;
}
.dropdown4 {
	margin-left: -568px;
}
.dropdown5 {
	margin-left: -710px;
}
.show-active {
	display: inline-block;
	float: left;
	width: 750px;
	padding: 15px 20px 15px 20px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	font: 13px/22px "宋体";
	color: #666666;
	background: #f3f5f5;
	margin-bottom: 48px;
}
/*.aundercontent5:hover .show-active{
	display: none;
}
.aundercontent5:hover .dropdown{
	display: inline-block;
}*/
.aundercontent6 {
	margin-right: 0;
}
.lastfloat a {
	display: inline-block;
	float: left;
}
/* end part2 contnt5*/

/* footer*//*--------------------------------------------footer------------------------------*/
.footer {
	width: 980px;
	height: 77px;
	border-top: 1px solid #e8e8e8;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 0;
	margin-bottom: 45px;
}
.ainfooter {
	display: inline-block;
	font: 12px/34px "宋体";
	margin: 9px 20px 0 20px;
	color: #3c7cb3;
}
.shudao {
	font: 12px/34px "宋体";
	color: #d3ccd3;
}
.lastfooter {
	width: 630px;
	margin: 0 auto;
}
.otherfooter {
	border: none;
	margin-top: 0;
}
.ainfooter:hover {
	text-decoration: underline;;
}
.bottominfooter {
	width: 470px;
	margin: 0 auto;
	font-size: 0;
}
.underbottominfooter {
	font: 12px/12px Arial,"宋体";
	margin-left: 24px;
	color: #999999;
}
/* end footer*/


/*------------------------------------link.html---------------------------------------------*/


/* link*/
.link-header {
	height: 138px;
	padding-top: 38px;	
	background: url(../img/bg_center_banner_for_website.jpg) no-repeat -70px -50px #002b4b;
}
.weilink {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 50px;
	font: 12px/1000px "宋体";
	overflow: hidden;
	background: url(../img/connect_logo_lumpsugar.png) no-repeat;
}
/* end link*/

/* mintext content1*/
.mintext {
	width: 900px;
	height: 2013px;
	margin: 0 auto;
	background: #fff; 
	border-radius: 10px;
	margin-top: -62px;
	padding: 0 40px;
	border: 1px solid #b7b7b7;
}
.mintext-content1 {
	height: 404px;
	padding-top: 36px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.mintext-top {
	display: block;
	width: 189px;
	height: 70px;
	margin: 0 auto;
}
.mintext-word {
	width: 440px;
	margin: 0 auto;
	font: 13px/26px "微软雅黑";
	color: #999999;
	padding-bottom: 13px;
	padding-top: 10px;
}
.nowcreat {
	width: 236px;
	height: 46px;
	margin: 0 auto;
	text-align: center;
	background: #f97631;
	border-radius: 5px;
}
.nowcreat a {
	font: 20px/46px "微软雅黑";
	color: #fdf6ff;
}
.nowcreat:hover {
	background: #f26820;
}
.content1-ul {
	float: left;
	margin-top: 47px;
	margin-left: 70px;
}
.specontent1-ul {
	margin-right: 120px;
}
.content1-ul li {
	margin-bottom: 31px;
	font-size: 0;
}
.content1-ul-img {
	display: inline-block;
	float: left;
	width: 46px;
	height: 42px;
	margin-right: 21px;
	background: url(../img/new_icons.png) no-repeat -300px -2px;
}
.shexian {
	display: inline-block;
	float: left;
	width: 46px;
	height: 42px;
	margin-right: 21px;
	background: url(../img/new_icons.png) no-repeat -300px -102px;
}
.zengjia {
	display: inline-block;
	float: left;
	width: 46px;
	height: 42px;
	margin-right: 21px;
	background: url(../img/new_icons.png) no-repeat -300px -201px;
}
.fenxiang {
	display: inline-block;
	float: left;
	width: 46px;
	height: 42px;
	margin-right: 21px;
	background: url(../img/new_icons.png) no-repeat -300px -304px;
}
.content1-lifloat {
	display: inline-block;
	float: left;
}
.content1-ul-li {
	display: inline-block;
	font: 18px/18px "微软雅黑";
}
.content1-ul-li2 {
	display: inline-block;
	font: 12px/12px "宋体";
	color: #999999;
	margin-top: 7px;
}
/* end mintext content1*/

/*  mintext content2*/
.mintext-content2 {
	height: 280px;
	padding-top: 42px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.content2-title {
	font: 25px/25px "微软雅黑";
	margin-bottom: 17px;
}
.yiyongimg {
	display: inline-block;
	width: 61px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -99px 0;
}
.yiyongimg1 {
	display: inline-block;
	width: 61px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -99px -100px;
}
.yiyongimg2 {
	display: inline-block;
	width: 61px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -99px -200px;
}
.yiyongimg3 {
	display: inline-block;
	width: 61px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -99px -300px;
}
.yiyong {
	font: 18px/18px "微软雅黑";
	color: #3388bc;
}
.yiyong1 {
	font: 18px/18px "微软雅黑";
	color: #eeaa00;
}
.yiyong2 {
	font: 18px/18px "微软雅黑";
	color: #41af70;
}
.yiyong3 {
	font: 18px/18px "微软雅黑";
	color: #dd5565;
}
.jichengsdk {
	font: 12px/20px "微软雅黑";
	color: #999999;
}
.movekehuduan {
	font: 12px/13px "微软雅黑";
	color: #666666;
}
.content2-ul a:hover {
	text-decoration: underline;
}
.content2-ul li {
	width: 190px;
	margin-bottom: 15px;
}
.content2-ul {
	float: left;
	padding-left: 39px;
}
.specontent2-ul {
	padding-left: 0;
}
/* end mintext content2*/

/* mintext content3*/
.mintext-content3 {
	height: 248px;
	padding-top: 42px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.content3-title {
	font: 25px/25px "微软雅黑";
	margin-bottom: 17px;
}
.textimg {
	float: left;
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -200px 0;
}
.content3-ul-li {
	font: bold 18px/18px "微软雅黑";
	color: #3388bc;
	margin-top: 5px;
}
.content3-ul-li2 {
	display: inline-block;
	margin-top: 8px;
	font: 12px/20px "微软雅黑";
	color: #666666;
}
.content3-lifloat a:hover {
	text-decoration: underline;
}
.wenimg {
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -200px -100px;
}
.sdkimg {
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -200px -200px;
}
.wordimg {
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	background: url(../img/new_icons.png) no-repeat -200px -300px;
}
.content3-lifloat {
	float: left;
	margin-left: 15px;
}
.content3-ul li {
	margin-bottom: 27px;
}
.content3-ul {
	float: left;
}
.specontent1-u3 {
	margin-left: 55px;
}
/* end mintext content3*/

/*mintext content4*/
.mintext-content4 {
	position: relative;
	height: 215px;
	padding-top: 42px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.content4-title {
	font: 25px/25px "微软雅黑";
	margin-bottom: 17px;
}
.mintext-content4-text {
	font: 12px/26px "微软雅黑";
	color: #666666;
}
.mintext-content4-img {
	position: absolute;
	top: 70px;
	left: 500px;
}
.mintext-content4-img a {
	font: 13px/13px  "微软雅黑";
	color: #3c7cb3;
}
.mintext-content4-a {
	position: absolute;
	top: 70px;
	left: 120px;
}
.mintext-content4-a a:hover {
	text-decoration: underline;
}
/* end mintext content4*/

/* mintext content5*/

.mintext-content5 {
	height: 660px;
	padding-top: 42px;
}
.content5-title {
	font: 25px/25px "微软雅黑";
	margin-bottom: 17px;
}
.minleft {
	float: left;
	width: 84px;
	margin-right: 14px;
	font: 14px/30px "微软雅黑";
}
.minleft span {
	display: inline-block;
	width: 84px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-bottom: 10px;
	text-align: center;
	color: #333333;
}
.minright {
	float: right;
	width: 770px;
	height: 546px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #f3f5f5;
}
.caijingfenxi {
	margin-top: 11px;
	margin-left: 16px;
	font: 14px/22px "微软雅黑";
	color: #333333;
}
.bigbottom {
	margin-left: 16px;
	margin-top: 8px;
}

/* ----------------------------------service.html-----------------------------------------------*/
/* end mintext content5*/
.mintext-service-content1 {
	height: 439px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.mintext-service {
	width: 900px;
	margin: 0 auto;
	background: #fff; 
	border-radius: 10px;
	margin-top: -62px;
	padding: 0 40px;
}
.weiservice {
	display: inline-block;
	margin-top: 60px;
}
.weilink-service {
	height: 60px;
	background: url("../img/service_logo_lumpsugar.png") no-repeat;
}
.disanfang {
	font: 14px/30px "微软雅黑";
	color: #999999;
	margin-top: 8px;
}
.creativewei {
	display: inline-block;
	width: 240px;
	height: 45px;
	border-bottom: 1px solid #999999;
	border-radius: 5px;
	background: #f66518;
	text-indent: 28px;
	margin-left: 130px;
	margin-top: 61px;
}
.creativewei- {
	font: 20px/45px "微软雅黑";
	color: #fff;
}
.creativewei:hover {
	background: #f97835;
}
.under-creativewei {
	font: 12px/33px "微软雅黑";
	color: #999999;
	text-indent: 148px;
}
.float-right-tuoguan {
	width: 47px;
	height: 30px;
	background: url(../img/top_logos.png) no-repeat;
}
.float-right-word {
	font: 12px/12px "微软雅黑";
	color: #999999;
}
.tuoguan {
	display: inline-block;
	font: bold 19px/19px "微软雅黑";
	color: #000;
	margin-bottom: 12px;
}
.float-right-word {
	margin-left: 18px;
}
.float-right-img,.float-right-word {
	float: left;
}
.float-li {
	margin-bottom: 31px;
}
.float-right-kaifa {
	width: 47px;
	height: 47px;
	background: url(../img/top_logos.png) no-repeat 0 -88px;
}
.float-right-dongcha {
	width: 47px;
	height: 39px;
	background: url(../img/top_logos.png) no-repeat 0 -173px;
}
.float-right-yingxiao {
	width: 47px;
	height: 51px;
	background: url(../img/top_logos.png) no-repeat 0 -263px;
}
.service-float-right,.service-float-left {
	float: left;
}
.service-float-right {
	margin-top: 60px;
	margin-left: 54px;
}
/* end mintext-service content1 */

/* mintext-service content1 */
.mintext-service-content2 {
	height: 500px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.service-content2-title {
	font: bold 26px/95px "微软雅黑";
	margin-top: 10px;
}
.float-service-fuwutai {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/pd_icons.png) no-repeat;
	opacity: .7;
}
.float-service-zhifu {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/pd_icons.png) no-repeat 0 -64px;
	opacity: .7;
}
.float-service-zhifu {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/pd_icons.png) no-repeat 0 -127px;
	opacity: .7;
}
.float-service-qingyin {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/pd_icons.png) no-repeat 0 -64px;
	opacity: .7;
}
.float-service-shangye {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url(../img/pd_icons.png) no-repeat 0 -191px;
	opacity: .7;
}
.service-right-img:hover {
	display: inline-block;
	opacity: 1;
}
.fuwutai {
	display: inline-block;
	font: 14px/14px "微软雅黑";
	color: #eb7350;
}
.weiyingyong {
	display: inline-block;
	font: 12px/20px "微软雅黑";
	color: #999999;
	margin-top: 7px;
}
.service-ainspan {
	color: #999999;
}
.service-ainspan a {
	font: 12px/12px "微软雅黑";
	color: #666666;
}
.service-ainspan {
	display: inline-block;
	margin-top: 5px;
}
.float-service-word a:hover {
	text-decoration: underline;
}
.service-right-img,.float-service-word {
	float: left;
}
.float-service-word  {
	display: inline-block;
	margin-left: 12px;
}
.service-content2-ul1 li,.service-content2-ul2 li {
	margin-bottom: 36px;
}
.service-content2-ul1,.service-content2-ul2  {
	float: left;
}
.service-content2-ul2 {
	margin-left: 60px;
}
/* end mintext-service content2 */

/* mintext-service content3 */

.mintext-service-content3 {
	height: 347px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.service-content3-title {
	display: inline-block;
	font: bold 26px/85px "微软雅黑";
	margin-top: 10px;
	width: 200px;
}
.pannter {
	display: inline-block;
	font: 15px/15px "微软雅黑";
	color: #333333;
	margin-left: 160px;
}
.pannter-word {
	font: 14px/28px "微软雅黑";
	color: #999999;
}
.pannter:hover {
	text-decoration: underline;
}
.creativewei-pannter {
	display: inline-block;
	width: 260px;
	height: 45px;
	border-radius: 5px;
	border-bottom: 2px solid #999999;
	text-indent: 40px;
	font: 20px/45px "微软雅黑";
	color: #fff;
	background: #2c9edb;
	margin-top: 32px;
	margin-left: 120px;
}
.creativewei-pannter:hover {
	background: #1491d5;
}
.service-content3-right,.service-content3-left {
	float: left;
}
.service-content3-right {
	margin-left: 27px;
	margin-top: 48px;
}
.h2youxiu {
	font: bold 19px/60px "微软雅黑";
}
.content3-right-img {
	float: left;
	width: 29px;
	height: 29px;
	background: url(../img/rights_logos.png) no-repeat;
}
.content3-right-img1 {
	float: left;
	width: 29px;
	height: 29px;
	background: url(../img/rights_logos.png) no-repeat 0 -50px;
}
.content3-right-img2 {
	float: left;
	width: 29px;
	height: 29px;
	background: url(../img/rights_logos.png) no-repeat 0 -100px;
}
.content3-right-img3 {
	float: left;
	width: 29px;
	height: 29px;
	background: url(../img/rights_logos.png) no-repeat 0 -150px;
}
.content3-right-ul1 li {
	font-size: 0;
	margin-bottom: 21px;
}
.content3-right-word {
	float: left;
	font: 14px/29px "微软雅黑";
	color: #666666;
	margin-left: 8px;
}
.mintext-service-content4 .more {
	font-size: 0;
}
/* end mintext-service content3 */


/*mintext-service content4 */
.service-content4-title {
	display: inline-block;
	font: bold 26px/95px "微软雅黑";
	margin-top: 10px;
}
.sale {
	background: url(../img/weisale.png) no-repeat;
	opacity: .8;
}
.man {
	background: url(../img/weiman.png) no-repeat;
	opacity: .8;
}
.listen {
	background: url(../img/lisiten.png) no-repeat;
	opacity: .8;
}
.teach {
	background: url(../img/teach.png) no-repeat;
	opacity: .8;
}
.taobao {
	background: url(../img/taobao.png) no-repeat;
	opacity: .8;
}
.aundercontent5:hover span {
	opacity: 1;
}
.lastfloat a {
	font-size: 0;
	float: left;
}
.aiya {
	display: inline-block;
}
.aiya .floatdespan {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #999999;
	margin-top: 25px;
}
.aiya .floatdespanspe {
	padding-left: 0px;
	padding-right: 25px;
	border-left: none;
	margin-top: 0px;
}
.p1 {	
	font: 12px/28px "微软雅黑";
	color: #999999;
}
.p2 {
	font: 12px/24px "微软雅黑";
	color: #333333;
}
.p3 {
	font: 18px/24px "微软雅黑";
	color: #eb7350;
}
/* end mintext-service content4 */


/*-----------------------------------------------doc.html------------------------------------------*/

/* mintext-doc left */
.mintext-doc {
	width: 950px;
	height: 850px;
	margin: 0 auto;
	background: #fff; 
	border-radius: 10px;
	margin-top: -62px;
	border: 1px solid #a7abae;
}
.weilink-doc {
	width: 950px;
	height: 60px;
	background: url("../img/wiki_logo_lumpsugar.png") no-repeat;
}
.doc-text {
	width: 128px;
	height: 23px;
	border: 1px solid #999999;
}
.doc-submit {
	width: 28px;
	height: 25px;
	border: 1px solid #999999;
	border-left: none;
	background: #fff;
	background: url(../img/fangda.png) no-repeat;
}
.doc-submit,.doc-text {
	float: left;
}
.doc-form {
	margin-top: 23px;
}
.doc-ul1-img {
	display: inline-block;
	float: left;
	width: 20px;
	height: 17px;
	background: url(../img/wiki_icons.png) no-repeat;
}
.doc-ul1-img2 {
	display: inline-block;
	float: left;
	width: 20px;
	height: 17px;
	background: url(../img/wiki_icons.png) no-repeat 0 -61px;
}
.doc-ul1-img4 {
	display: inline-block;
	float: left;
	width: 20px;
	height: 17px;
	background: url(../img/wiki_icons.png) no-repeat 0 -80px;
}
.doc-ul1-word {
	display: inline-block;
	height: 17px;
	float: left;
	font: 14px/17px "微软雅黑";
	color: #000;
	margin-left: 5px;
}
.doc-ul1 li {
	margin-top: 20px;
	height: 17px;
	overflow: hidden;
}
.doc-ul1-word a {
	font: 14px/17px "微软雅黑";
}
.doc-ul1-word a:hover {
	text-decoration: underline;
}
.doc-ul1-word-title {
	display: inline-block;
	float: left;
	font: 14px/17px "微软雅黑";
	color: #000;
}
.doc-ul1 .speli:hover {
	overflow: visible;
	height: 90px;
	margin-bottom: 5px;
	border-bottom: 1px solid #999999;
}
.doc-ul1 {
	padding-bottom: 25px;
	border-bottom: 1px solid #999999;
}
.mintext-doc-left {
	float: left;
	width: 167px;
	padding: 13px 0 0 19px;
	background: #f7f7f7;
	border-radius: 5px;
}
/* end mintext-doc left */

/*  mintext-doc right */
.doc-right-title {
	font: 12px/13px Arial,"微软雅黑";
	padding-top: 13px;
	margin-left: 545px;
	float:left;
}
.doc-right-title span {
	color: #999999;
}
.doc-right-img {
	float: left;
	width: 65px;
	height: 56px;
	margin-right: 20px;
	background: url(../img/index_pic.png) no-repeat;
}
.doc-right-img2 {
	float: left;
	width: 71px;
	height: 73px;
	margin-right: 20px;
	background: url(../img/index_pic.png) no-repeat 0 -75px;
}
.doc-right-img3 {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	background: url(../img/index_pic.png) no-repeat -5px -173px;
}
.doc-right-word {
	float: left;
}
.doc-right-ul1 {
	display: inline-block;
	padding-bottom: 37px;
	background: url(../img/line.png) no-repeat 0 bottom;
}
.doc-right-ul1 li {
	margin-top: 26px;
}
.doc-right-span2 {
	width: 684px;
	font: 12px/20px "微软雅黑";
}
.doc-right-span {
	font: 18px/20px "微软雅黑";
	color: #3c7cb5;
}
.mintext-doc-right {
	width: 683px;
	margin-left: 45px;
	float: left;
}
.mintext-doc-left {
	float: left;
}
.doc-right-ul2-img {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -268px;
}
.doc-right-ul2,.doc-right-ul3 {
	float: left;
	width: 300px;
}
.doc-right-ul2 li,.doc-right-ul3 li {
	margin-top: 25px;
}
.doc-right-ul2 a,.doc-right-ul3 a {
	float: left;
	font: bold 15px/19px "微软雅黑";
	color: #3c7cc3;
}
.doc-right-ul2 .speainright {
	float: none;
	font:  12px/20px "微软雅黑";
	color: #3c7cc3;
}
.doc-right-ul2 a:hover,.doc-right-ul3 a:hover {
	text-decoration: underline;
}
.doc-right-ul2 p,.doc-right-ul3 p {
	font: 12px/20px "微软雅黑";
	color: #333333;
	margin-top: 6px;
}
.doc-right-ul3 {
	float: left;
	margin-left: 60px;
}
.doc-right-ul2-img2 {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -296px;
}
.doc-right-ul2-img3 {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -324px;
}
.doc-right-ul2-img4 {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -350px;
}
.doc-right-ul2-img5 {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -376px;
}
.doc-right-ul2-img6 {
	display: inline-block;
	float: left;
	width: 27px;
	height: 19px;
	margin-top: 3px;
	background: url(../img/index_pic.png) no-repeat 0 -402px;
}
/* end mintext-doc right */

/*----------------------------------------support.html--------------------------------------------------------*/

.link-header .logo-support {
	margin: 0 auto;
	width: 948px;
	height: 55px;
	background: url(../img/help_logo_lumpsugar.png) no-repeat;
}
/* mintext-support-content1*/
.mintext-support {
	width: 922px;
	height: 900px;
	padding-left: 28px;
	margin: 0 auto;
	background: #fff; 
	border-radius: 10px;
	margin-top: -62px;
	border: 1px solid #a7abae;
}
.support-h2 {
	display: inline-block;
	width: 630px;
	height: 33px;
	margin-top: 38px;
	background: #f7f7f7;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	font: 16px/33px "微软雅黑";
	color: #666666;
	text-indent: 9px;
}
.moive-1,.moive-2 {
	position: relative;
	float: left;
	width: 289px;
	margin-right: 27px;
	font: 13px/35px "微软雅黑";
	color: #666666;
	margin-top: 4px;
	text-align: center;
}
.play1 {
	position: absolute;
	top: 93px;
	left: 119px;
	width: 49px;
	height: 49px;
	background: url(../img/play.png) no-repeat;
	opacity: .5;
}
.play1:hover {
	background: url(../img/play.png) no-repeat;
	opacity: .9;
}
/* end mintext-support-content1*/

/* mintext-support-content2*/
.mintext-support-content2 {
	font-size: 0;
}
.question {
	display: inline-block;
	width: 143px;
	height: 53px;
	background: #f5fafe;
	font: 17px/53px "微软雅黑";
	color: #3c7cb3;
	border: 1px solid #e2ebf1;
	text-align: center;
	margin-left: 10px;
	margin-top: 15px;
}
.question:hover {
	text-decoration: underline;
}
.support-h3 {
	display: inline-block;
	width: 309px;
	height: 33px;
	margin-top: 30px;
	background: #f7f7f7;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	font: 16px/33px "微软雅黑";
	color: #666666;
	text-indent: 9px;
}
.support-weibopen {
	font: 12px/20px "微软雅黑";
	margin-top: 15px;
	margin-left: 10px;
	width: 290px;
	color: #666666;
}
.content3-spep {
	padding-left: 30px;
	font: 12px/20px "微软雅黑";
	color: #666666;
	background: url(../img/sina-logo.png) no-repeat 12px 10px;
}
.content3-emial {
	background: url(../img/emial.png) no-repeat 12px 10px;
}
.support-weibopen-a {
	display: inline-block;
	font: 12px/32px "微软雅黑";
	margin-left: 10px;
	color: #3c7cba;
}
.support-weibopen-a:hover {
	text-decoration: underline;
}
.support-weibopen2 {
	font: 12px/20px "微软雅黑";
	color: #000;
	margin-top: 5px;
	margin-left: 10px;
}
.content3-float-right,.content3-float {
	float: left;
}
.content3-float-right {
	margin-left: 10px;
}
.spesupport-h3 {
	margin-top: 10px;
}
.mintext-support-right-float {
	width: 270px;
	height: 900px;
	float: left;
	padding-left: 20px;
	background: #f7f7f7;
	border-radius: 0 7px 7px 0;
}
.mintext-support-left-float {
	float: left;
}
.support-right-h2  {
	font: 14px/35px "微软雅黑";
	margin-top: 27px;
	border-bottom: 1px dashed #999999;
}
.jw {
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
}
.openpingtai {
	display: inline-block;
	font: 15px/28px "宋体";
	color: #0082cb;
	margin-top: 16px;
}
.openpingtai:hover {
	text-decoration: underline;
}
.openbox {
	display: inline-block;
	width: 52px;
	height: 22px;
	padding-left: 9px;
	font: 13px/22px "宋体";
	color: #fff;
	border: 1px solid #ea192d;
	background: #ed2033;
	opacity: .8;
	border-radius: 3px;
	position: relative;
	top: 30px;
	left: -90px;
}
.openbox:hover {
	opacity: 1;
}
.jiahao {
	font-weight: bold;
}
.scroll {
	background: #fff;
	width: 220px;
	height: 500px;
	font: 12px/20px "宋体";
	border-top: 1px solid #999999;
	color: #666666;
	margin-top: 22px;
	overflow: auto;
}
.spaninscroll {
	display: inline-block;
	width: 200px;
	margin-left: 12px;
	padding-top: 15px;
	border-bottom: 1px dotted #999999;
}
.spaninscroll:hover {
	background: #eaeced;
}
.spaninscroll a {
	display: inline-block;
	font: 12px/40px "宋体";
	color: #0082cb;
	margin-left: ;
}
.spaninscrolla {
	display: inline-block;
	margin-right: 35px;
}
.spaninscroll a:hover {
	text-decoration: underline;
}
/* end mintext-support-content2*/

/*  -----------------------------imput.html---------------------------------------------------------*/


/*mintext-imput-logo */
.weilink-imput {
	display: block;
	width: 950px;
	height: 55px;
	margin: 0 auto;
	background: url(../img/fans_marketing_logo_lumpsugar.png) no-repeat;
}
.position {
	width: 950px;
	position: relative;
	margin: 0 auto;
}
.starimput {
	display: inline-block;
	width: 150px;
	height: 42px;
	background: url(../img/bg_btn.png) no-repeat;
	position: absolute;
	top: 2px;
	left: 770px;
}
.starimput:hover {
	background: url(../img/bg_btn.png) no-repeat 0 -45px;
}

/* end mintext-imput-logo */

/*  mintext-imput-left */
.mintext-imput {
	width: 918px;
	height: 1200px;
	background: #fff;
	padding-top: 40px;
	padding-left: 30px;
	border: 1px solid #b7b7b7;
	margin: 0 auto;
	margin-top: -63px;
	border-radius: 5px;
}
.mintext-imput-left h2 {
	width:598px;
	height: 33px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	background: #f7f7f7;
	font: 15px/33px "宋体";
	color: #666666;
	margin-bottom: 9px;
	text-indent: 9px;
}
.mintext-imput-left p {
	width: 572px;
	margin-left: 10px;
	font: 14px/25px "宋体";
	color: #666666;
}
.mintext-imput-left p a {
	font: 14px/25px "宋体";
	color: #3c7cb3;
}
.mintext-imput-left p a:hover {
	text-decoration: underline;
}
.mintext-imput-left li {
	margin-bottom: 35px;
}
.sinaplay {
	display:  inline-block;
	margin-top: 15px;
}
.mintext-imput-left .undersianplay {
	width: 572px;
	text-align: center;
	font: 12px/25px "宋体";
	color: #666666;
}
.sinaposition {
	margin-left: 100px;
	width: 400px;
	position: relative;
}
.starplay- {
	width: 49px;
	height: 49px;
	position: absolute;
	top: 90px;
	left: 176px;
}
.starplay-:hover {
	display: none;
}
.mintext-imput-left {
	margin-right: 38px;
	float: left;
}
/* end mintext-imput-left */

/*  mintext-imput-right */
.mintext-imput-right {
	float: left;
}
.imput-right-p {
	width: 250px;
	font: 15px/30px "微软雅黑";
	padding-bottom: 4px;
	color: #666666;
	border-bottom: 1px solid #ececec;
}
.imput-right-li {
	display: inline-block;
	width: 84px;
	margin-bottom: 2px;
}
.imput-right-wordhover {
	display: inline-block;
	width: 84px;
	height: 34px;
	font: 12px/34px "宋体";
	color: #336699;
	text-align: center;
}
.imput-right-ul {
	float: left;
	width: 125px;
	font-size: 0;
	margin-top: 25px;
}
.imput-right-img {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/mask2.png) no-repeat;
	transition: 1s;
	position: relative;
	z-index: 2;
}
.bottombac {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/meituan.png) no-repeat 16px 14px;
	position: relative;
	z-index: 1;
}
.bottombac1 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/tianqi.png) no-repeat 8px 5px;
	position: relative;
	z-index: 1;
}
.bottombac2 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/wangyi.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac3 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/baici.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac4 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/jumei.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac5 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/lizhi.png) no-repeat 13px 13px;
	position: relative;
	z-index: 1;
}
.bottombac6 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/mafeng.png) no-repeat 12px 12px;
	position: relative;
	z-index: 1;
}
.bottombac7 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/love.png) no-repeat 16px 14px;
	position: relative;
	z-index: 1;
}
.bottombac8 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/papa.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac9 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/toutiao.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac10 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/zhushou.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac11 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/dazhong.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac12 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/gezi.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac13 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/youzi.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac14 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/meiyan.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.bottombac15 {
	display: inline-block;
	width: 84px;
	height: 86px;
	background: url(../img/xiaogou.png) no-repeat 12px 10px;
	position: relative;
	z-index: 1;
}
.imput-right-li:hover .imput-right-img {
	background: url(../img/mask1.png) no-repeat;
} 
.imput-right-li:hover .imput-right-wordhover {
	text-decoration: underline;
} 
/* end mintext-imput-right */


/*-----------------------------登录------------------------*/
#denglu {
	width: 512px;
	height: 205px;
	padding: 10px;
	background: #8f8f8f;
	position: absolute;
	border-radius: 5px;
	z-index: 100;
	opacity: .3;
	left: 410px;
	top: 220px;
	display: none;
}
#denglu1 {
	width: 510px;
	height: 204px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	left: 420px;
	top: 230px;
	opacity: 1;
	z-index: 150;
	font: 12px/14px "宋体";
	color: #646464;
	display: none;
}
#dengleft {
	width: 240px;
	height: 164px;
	padding: 20px;
	position: relative;
	float: left;
	background: url(../img/denglr.png) no-repeat top right;
}
#dengright {
	width: 188px;
	padding: 20px;
	float: left;
	position: relative;
}
#denglu1 input {
	height: 26px;
	outline: none;
	border: 1px solid #bebebe;
	border-radius: 3px;
}
#dengleft2 {
	margin-top: 15px;
	background: #fafafa;
}
#dengleft3 {
	margin-top: 12px;
	margin-bottom: 10px;
	background: #fafafa;
}
#dengleft4 {
	width: 60px;
	height: 24px;
	background: #6fbe01;
	margin-right: 38px;
	color: #fff;
}
#dengleft4,#dengleft5 {
	float: left;
}
#dengleft6 {
	font: 12px/26px "宋体";
}
#dengright2 {
	width: 101px;
	height: 29px;
	border: 1px solid #cecece;
	background: #f8f8f8;
	margin-top: 15px;
}
.wrap1 {
	width: 1348px;
	height: 672px;
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	background: #000;
	display: none;
}
#dengrighti {
	position: absolute;
	right: 7px;
	top: 7px;
}